body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #002b5c;
    color: white;
    padding: 10px 0;
    height:50px;
    text-align: right;
    position: relative;
}
header img {
    height: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
}
header .search-bar {
    display: inline-block;
    margin-top:7px;
    margin-right:10px;
}
header .search-bar input {
    padding: 5px;
    border-radius: 8px;
    border: none;
    height:20px;
}
header .register-btn {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:5px;
    margin-right: 20px;
}
header .menu-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    float:right;
}
.content {
    text-align: center;
    padding: 20px;
}
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.category {
    background-color: #002b5c;
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.category img {
    width: 100%;
    border-radius: 10px;
    height:150px;
}
.updates {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
a{
    color:white;
    text-decoration: none;
}
footer {
    background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer .icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}
footer .icons img {
    margin: 0 10px;
    width: 30px;
}